{% block content %}

<h3>About our salary calculator</h3>
<p>
  Our salary calculator helps you get an estimate on the salary you can expect
  as a developer all over the world. Find out your potential salary as a
  software developer based on your role, experience and the country you live in.
  You can browse specific stacks such as JavaScript jobs, PHP jobs and many
  more. It can also help you to evaluate if moving to other countries or working
  remotely makes sense for you.
</p>
The database of this calculator consists of a blend between:
<ol>
  <li>Our database of jobs</li>
  <li>Publicly available salary data</li>
  <li>Responses on this calculator</li>
</ol>
{% endblock content %}
